.myCustomButton {
    background-color: #fdfdfd;
    color: #fff;
    border-radius: 0px;
    font-size: 1.2rem;
    padding: 0rem 0rem;
    min-width: 250px;
    min-height: 00px;
}

.Hbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.myDisplayButton {
    background-color: #fdfdfd;
    color: #2dde91;
    border-radius: 0px;
    font-size: 1.2rem;
    padding: 0rem 0rem;
    min-width: 250px;
    min-height: 00px;
}